.button {
  font-weight: 700;
  font-size: 16px;
  color: rgb(59, 48, 37);

  background-color: rgb(132, 112, 94);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(59, 48, 37);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  padding: 12px 22px;
  margin-bottom: 50px;
}

.button:not(:last-child) {
  margin-right: 20px;
}

.button:hover,
.button:focus {
  background-color: rgb(108, 91, 77);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.button:first-child {
  color: rgb(81, 69, 60);
  background-color: rgb(188, 171, 156);
}

.button:first-child:hover,
.button:first-child:focus {
  background-color: rgb(174, 151, 130);
}

.button:last-child {
  color: rgb(188, 171, 156);
  background-color: rgb(81, 69, 60);
}

.button:last-child:hover,
.button:last-child:focus {
  background-color: rgb(58, 50, 43);
}
